:root{
    --textcolor: #fffcf2;
    --lightshade: #ccc5b9;
    --darkshade: #403d39;
    --backgroundcolor: #252422;
    --accentcolor: #eb5e28;
}

.dark-theme{ 
    --textcolor: #fffcf2;
    --lightshade: #ccc5b9;
    --darkshade: #403d39;
    --backgroundcolor: #252422;
    --accentcolor: #eb5e28;
}
.light-theme{ 
    --backgroundcolor: #fffcf2;
    --darkshade: #ccc5b9;
    --lightshade: #403d39;
    --textcolor: #252422;
    --accentcolor: #eb5e28;
}

*{
    padding: 0;
    margin: 0;
    font-size: 1em;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    transition: 0.3s ease;
    box-sizing: border-box;
}
::-webkit-scrollbar{
    background: var(--backgroundcolor);
    width: 8px;
    height: 8px;
}
::-webkit-scrollbar-thumb{
    background: var(--darkshade);
    border-radius: 100px;
    border: 2px solid var(--backgroundcolor);
}
::-webkit-scrollbar-thumb:hover{
    background: var(--lightshade);
    cursor: grabbing;
}

body{
    overflow: hidden;
    width: 100%;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    background: var(--backgroundcolor);
    color: var(--textcolor);
}

input[name="toggle"]:checked + label[for="toggle"]{
    background: var(--accentcolor);
    border-color: var(--accentcolor);
}
header{
    display: flex;
    align-items: center;
    padding: .7em 2em;
    border-bottom: 1px solid var(--darkshade);
    background: var(--darkshade);
    h3{
        margin-right: auto;
        font-size: .9em;
    }
    input{
        display: none;
    }
    label{
        display: flex;
        align-items: center;
        margin-left: 1em;
        font-size: .7em;
        padding: .3em .5em;
        margin-right: .5em;
        border-radius: .5em;
        border: 1px solid var(--lightshade);
        cursor: pointer;
    }
    label:hover{
        background: var(--lightshade);
        border-color: var(--lightshade);
    }
    a{
        display: flex;
        align-items: center;
        font-size: .7em;
        padding: .3em .5em;
        border: 1px solid var(--lightshade);
        border-radius: .5em;
        text-decoration: none;
        color: var(--textcolor);
    }
    a:hover{
        color: white;
        background: var(--accentcolor);
        border-color: var(--accentcolor);
    }
}

main{
    height: 100%;
    overflow: hidden;
    overflow-y: auto;
    position: relative;
}

.top{
    flex: 1 1 30%;
    background-image: url(street-wallpaper-1.jpg);
    background-position: center;
    background-size: cover;
    background-color: #00000055;
    background-blend-mode: color-dodge;
    padding: 5em 2em;
    display: flex;
    flex-direction: column;
    gap: 1em;
    overflow: hidden;
    h2{
        text-align: center;
        margin-top: auto;
        font-size: 1.5em;
        line-height: 1em;
        color: var(--accentcolor);
        text-shadow: -2px 2px 5px black;
        span{ 
            text-shadow: -2px 2px 5px black;
            font-weight: 300;
            font-size: .7em;
            color: white;
        }
    }
}

.bookheader{
    position: sticky;
    z-index: 1;
    top: 0;
    display: flex;
    align-items: center;
    gap: .5em;
    padding: .5em 2em;
    outline: 1px solid var(--darkshade);
    background: var(--backgroundcolor);
    h3{
        font-weight: 500;
        margin-right: auto;
        font-size: .9em;        
    }
    label{
        width: fit-content;
        text-align: center;
        font-size: .7em;
        padding: .5em .8em;
        border: 1px solid var(--lightshade);
        border-radius: .7em;
        cursor: pointer;
    }
    label:hover{
        background-color: var(--accentcolor);
        border-color: var(--accentcolor);
        color: white;
    }
    label:nth-child(odd){
        color: hsl(0, 80%, 50%);
        border-color: hsl(0, 80%, 50%);
        background: hsla(0, 80%, 50%, 0.1);
    }
    label:nth-child(odd):hover{
        color: hsl(0, 80%, 90%);
        background: hsl(0, 80%, 50%);
    }
}

.container{
    flex: 1 1 100%;
    padding: 1em 2em;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 2em;
}
.book{
    height: max-content;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid var(--darkshade);
    padding: .5em;
    border-radius: 1em;
    position: relative;
    overflow: hidden;
    font-size: .9em;
    background: hsla(0, 0%, 50%, 0.1);
    .imgholder{
        font-size: 5em;
    }
    ul{
        flex: 1 0 50%;
        list-style-type: none;
        padding: .5em .5em 1em;
        display: flex;
        flex-direction: column;
        font-size: .9em;
        overflow: hidden;
        li{
            display: flex;
            flex-wrap: wrap;
            align-items: first baseline;
            padding: .5em 0;
            gap: .5em;
            border-bottom: 1px solid var(--darkshade);
            strong{
                padding: .2em .5em;
                background: var(--darkshade);
                font-size: .9em;
                border-radius: .5em;
                font-weight: 500;
                color: var(--lightshade);
            }
            span{
                margin-right: auto;
            }
        }
        li:first-child{
            display: none;
        }
        li:last-child{
            border: none;
        }
        li:last-child span{
            font-size: .85em;
            background-color: var(--accentcolor);
            color: white;
            padding: .2em .5em;
            border-radius: .5em;            
        }
    }
    .actions{
        flex: 1 0 100%;
        margin-top: auto;
        border: 1px solid var(--darkshade);
        border-radius: .9em;
        display: flex;
        padding: .4em .3em;
        font-size: .8em;
        gap: .5em;
        label, button{
            display: flex;
            align-items: center;
            justify-content: center;
            padding: .3em .5em;
            border: 1px solid var(--lightshade);
            border-radius: .5em;
            cursor: pointer;
        }
        label:first-child{
            margin-right: auto;
        }
        label:hover{
            background: var(--accentcolor);
            border-color: var(--accentcolor);
            color: white;
        }
        button{
            color: hsl(0, 80%, 50%);
            border-color: hsl(0, 80%, 50%);
            background: hsla(0, 80%, 50%, 0.1);
        }
        button:hover{
            color: hsl(0, 80%, 90%);
            background: hsl(0, 80%, 50%);
        }
    }
}
.book:hover{
    background: hsla(0, 0%, 50%, 0.1);
    border-color: var(--textcolor);
}

#create{
    display: none;
}
#create:checked ~ .popup{
    display: flex;
}
#create:checked ~ .createcover{
    display: block;
}
.createcover{
    top: 0;
    left: 0;
    display: none;
    position: fixed;
    z-index: 1;
    background: #0005;
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
    height: 100dvh;
    width: 100%;
}
.popup{
    position: fixed;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0, 0);
    padding: 1em;
    background: var(--backgroundcolor);
    border-radius: 1em;
    border: 1px solid var(--darkshade);
    display: none;
    flex-direction: column;
    gap: .5em;
    animation: popup 0.3s 1 ease forwards;
    width: 80%;
    max-width: 20em;
    height: 80%;
    max-height: max-content;
    overflow: hidden;
    overflow-y: auto;
    .firstdiv{
        display: flex;
        align-items: center;
        gap: 1em;
        h3{
            margin: auto;
        }
        label{ 
            display: flex;
            align-items: center;
            justify-content: center;
            padding: .1em .5em;
            border-radius: .5em;
            border: 1px solid var(--lightshade);
            cursor: pointer;

        }
        label:hover{
            background: var(--accentcolor);
            border-color: var(--accentcolor);
            color: white;
        }
    }
}
@keyframes popup{
    from{
        transform: translate(-50%, -50%) scale(0, 0);
    }
    to{
        transform: translate(-50%, -50%) scale(1, 1);
    }
}

form{ 
    display: flex;
    flex-direction: column;
    gap: .7em;
    font-size: .85em;
    padding: 1em 0;
    border-top: 1px solid var(--darkshade);
    div{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: .5em;
        width: 100%;
        label{
            width: max-content;
            padding: .5em .7em;
            background: var(--darkshade);
            border-radius: .5em;
            font-weight: 500;
            color: var(--lightshade);
        }
        input, select{
            flex: 1 0;
            width: 100%;
            background: none;
            border: 1px solid var(--darkshade);
            border-radius: .5em;
            color: var(--textcolor);
            padding: .5em;
            outline: none;
            cursor: pointer
        }
        input:hover, input:focus, select:hover, select:focus{
            background: var(--darkshade);
            border-color: var(--textcolor);
        }
        input:focus, select:focus{
            cursor: auto;
        }
    }
    button{
        margin-top: 1em;
        width: 100%;
        background: none;
        border-radius: .5em;
        border: 1px solid var(--accentcolor);
        color: var(--accentcolor);
        padding: .5em;
        outline: none;
        cursor: pointer;
    }
    button:hover{
        background: var(--accentcolor);
        color: white;
    }
}

#clear{
    display: none;
}
#clear:checked ~ .clearlib{
    display: flex;
}
#clear:checked ~ .clearcover{
    display: block;
}
.clearcover{
    top: 0;
    left: 0;
    display: none;
    position: fixed;
    z-index: 1;
    background: #0005;
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
    height: 100dvh;
    width: 100%;
}
.clearlib{
    position: fixed;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0, 0);
    padding: 1.5em;
    background: var(--backgroundcolor);
    border-radius: 1em;
    border: 1px solid var(--darkshade);
    display: none;
    flex-direction: column;
    gap: 1em;
    animation: popup 0.3s 1 ease forwards;
    width: 80%;
    max-width: max-content;
    height: 80%;
    max-height: max-content;
    font-size: .9em;
    i{
        padding: .5em;
        color: hsl(0, 80%, 50%);
        border-left: 3px solid hsl(0, 80%, 50%);
        background: hsla(0, 80%, 50%, 0.1);
    }
    div{
        display: flex;
        gap: .5em;
        align-items: center;
        width: 100%;
        label, button{
            padding: .3em .5em;
            border: 1px solid var(--lightshade);
            border-radius: .5em;
            cursor: pointer;
            width: 100%;
            text-align: center;
        }
        label:hover{
            background: var(--accentcolor);
            border-color: var(--accentcolor);
            color: white;
        }
        button{
            color: hsl(0, 80%, 50%);
            border-color: hsl(0, 80%, 50%);
            background: hsla(0, 80%, 50%, 0.1);
        }
        button:hover{
            color: hsl(0, 80%, 90%);
            background: hsl(0, 80%, 50%);
        }
    }
}

#mess{
    padding: .5em 1em;
    background: var(--accentcolor);
    color: #fff;
    border-radius: 1px solid var(--lightshade);
    box-shadow: 5px 5px 15px #0009;
    position: fixed;
    top: -110%;
    left: 50%;
    z-index: 5;
    border-radius: .5em;
    translate: -50%;
}
footer{
    padding: .5em 2em 1em;
    font-size: .8em;
    text-align: center;
    background: var(--backgroundcolor);
    color: var(--lightshade);
    border-top: 1px solid var(--darkshade);
}
.nocontent{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--darkshade);
    text-align: center;
    padding: 2em;
    grid-column: 1 / -1;
    height: 25vh;
    span{
        font-size: 2em;
    }
}

.disclaimer{
    position: fixed;
    z-index: 1;
    top: 50%;
    right: 1%;
    translate: 0 -50%;
    position: absolute;
    box-shadow: -2px 2px 10px #0005;
    padding: .1em;
    height: max-content;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--accentcolor);
    border: 1px solid var(--textcolor);
    color: white;
    border-radius: 50%;   
    font-size: 1.2em;
    font-weight: 500;
    cursor: pointer;
}

.disclaimerdiv{
    width: 80%;
    max-width: 25em;
    height: 80%;
    max-height: max-content;
    overflow-y: auto;
    font-size: .8em;
    position: fixed;
    z-index: 3;
    top: 50%;
    right: -110%;
    translate: 0 -50%;
    display: flex;
    gap: .8em;
    cursor: pointer;
    box-shadow: -2px 2px 15px #0005;
    padding: 1.2em;
    background: var(--backgroundcolor);
    border-radius: 1em;
    border: 1px solid var(--darkshade);
    display: flex;
    flex-direction: column;
    gap: 1em;
    display: flex;
    h3{
        color: var(--accentcolor);
        font-size: 1.2em;
    }
    ul{
        list-style: disc;
        padding: 0 1em;
        gap: 1em;
        display: flex;
        flex-direction: column;
    }
    h4{
        padding: .5em 1em;
        font-weight: 500;
        border-radius: .5em;
        border: 1px solid var(--accentcolor);
        background: hsla(17, 83%, 54%, 0.1);
        color: var(--accentcolor);
    }
}
.disclaimer:hover{
    background: var(--darkshade);
    right: 1%;
}
#disclaimer{
    display: none;
}
#disclaimer:checked ~ .disclaimerdiv{
    right: 10px;
}
#disclaimer:checked ~ .disclaimercover{
    display: block;
}
.disclaimercover{
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: none;
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
    background: #0004;
}


main input[type="radio"]{
    display: none;
}
#read:checked ~ .readbook{
    display: flex;
    z-index: 1;
}
#edit:checked ~ .editbook{
    display: flex;
    z-index: 1;
}

/* Read Book & Edit Book */
.style{
    font-size: .9em;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    background: var(--backgroundcolor);
    width: 100%;
    height: 100%;
    display: none;
    flex-direction: column;
    overflow: hidden;
    .infohead{
        display: flex;
        align-items: center;
        gap: .5em;
        padding: .5em 2em;
        border-bottom: 1px solid var(--darkshade);
        label, a, button{
            display: flex;
            align-items: center;
            justify-content: center;
            padding: .2em .5em;
            border: 1px solid var(--lightshade);
            border-radius: .5em;
            cursor: pointer;
            text-decoration: none;
            color: var(--textcolor);
            font-size: .8em;
        }
        label:first-child{
            border-radius: .5em;
            height: fit-content;
            padding: 0 .5em;
            font-size: 1.2em;
        }
        label:hover, a:hover{
            background: var(--accentcolor);
            border-color: var(--accentcolor);
            color: white;
        }
        p{
            margin: 0 auto;
        }
        div{
            margin: 0 auto;
            position: relative;
            h3{
                padding: .1em .6em;
                border-radius: 1000px;
                border: 1px solid var(--darkshade);
                cursor: pointer;
                font-weight: 500;
            }
            h3:hover{
                border-color: var(--textcolor);
                background: hsla(0, 0%, 50%, 0.1);
            }
            h3:hover ~ ul{
                display: flex;
            }            
            ul{
                position: absolute;
                z-index: 1;
                top: 100%;
                left: 50%;
                translate: -50%;
                width: max-content;
                background: var(--backgroundcolor);
                border: 1px solid var(--darkshade);
                border-radius: 1em;
                box-shadow: 3px 3px 10px #0002;
                list-style-type: none;
                padding: .5em 1em .5em .5em;
                display: none;
                flex-direction: column;
                font-size: .9em;
                overflow: hidden;
                gap: .5em;
                li{
                    display: flex;
                    align-items: first baseline;
                    gap: .5em;
                    strong{
                        padding: .2em .5em;
                        background: var(--darkshade);
                        font-size: .9em;
                        border-radius: .5em;
                        font-weight: 500;
                        color: var(--lightshade);
                    }
                    span{
                        margin-right: auto;
                    }
                }
                li:first-child{
                    display: none;
                }
            }
        }
    }
    .content{
        display: flex;
        width: 100%;
        max-width: 40em;
        height: 100%;
        margin: auto;
        overflow: hidden;
        scroll-behavior: smooth;
        padding: 0 2em;
        gap: 2em;
        form{
            border: none;
            width: 100%;
            height: 100%;
            overflow: hidden;
            .topcon{
                display: flex;
                align-items: end;
                justify-content: space-between;
                flex-direction: row;
                gap: 1em;
                width: 100%;
                height: fit-content;
                padding: 0 0 .5em;
                div{
                    width: fit-content;
                    position: relative;
                    font-size: 1.1em;
                    h3{
                        padding: .1em .6em;
                        border-radius: 1000px;
                        border: 1px solid var(--darkshade);
                        cursor: pointer;
                        font-weight: 500;
                    }
                    h3:hover{
                        border-color: var(--textcolor);
                        background: hsla(0, 0%, 50%, 0.1);
                    }
                    h3:hover ~ ul{
                        display: flex;
                    }
                    ul{
                        position: absolute;
                        z-index: 1;
                        top: 100%;
                        left: 0;
                        width: max-content;
                        background: var(--backgroundcolor);
                        border: 1px solid var(--darkshade);
                        border-radius: 1em;
                        box-shadow: 3px 3px 10px #0002;
                        list-style-type: none;
                        padding: .5em 1em .5em .5em;
                        display: none;
                        flex-direction: column;
                        overflow: hidden;
                        gap: .5em;
                        li{
                            display: flex;
                            align-items: first baseline;
                            gap: .5em;
                            strong{
                                padding: .2em .5em;
                                background: var(--darkshade);
                                font-size: .9em;
                                border-radius: .5em;
                                font-weight: 500;
                                color: var(--lightshade);
                            }
                            span{
                                margin-right: auto;
                            }
                        }
                        li:first-child{
                            display: none;
                        }
                    }
                }
                button{
                    color: #0b0;
                    border-color: #0b0;
                    background: #0b02;
                    width: fit-content;    
                }
                button:hover{
                    color: #fff;
                    border-color: #0b0;
                    background: #0b0;
                    
                }
            }
            textarea{
                width: 100%;
                height: 100%;
                overflow: hidden;
                overflow-y: auto;
                border: none;
                background: hsla(0, 0%, 50%, 0.1);
                border-top: 1px solid var(--darkshade);
                border-bottom: 1px solid var(--darkshade);
                color: var(--textcolor);
                padding: 1em 1.5em;
                outline: none;
                resize: none;
                font-size: 1.4em;
                text-align: justify;
                font-family: monospace;
                column-rule-color: red;
                line-height: 1.5em;
            }
            textarea:hover, textarea:focus{
                opacity: 1;
                border-color: var(--textcolor);
            }            
        }
        .page{
            flex: 1 0 100%;
            scroll-snap-align: center;
            width: 100%;
            display: flex;
            flex-direction: column;
            overflow: hidden;
            overflow-y: auto;
            position: relative;            
            background: hsla(0, 0%, 50%, 0.1);
            border-top: 1px solid var(--darkshade);
            border-bottom: 1px solid var(--darkshade);
            margin: 1em 0;
            .text-content{
                width: 100%;
                padding: 1em 1.5em 3em;
                white-space: pre-wrap;
                height: 100%;
                overflow: hidden;
                overflow-y: auto;
                line-height: 1.5em;
            }
            b{
                position: absolute;
                bottom: .5em;
                left: 50%;
                translate: -50%;
                padding: .3em;
                width: fit-content;
                text-align: center;
                padding: .2em .4em;
                font-weight: 300;
                -webkit-backdrop-filter: blur(10px);
                backdrop-filter: blur(10px);
                border: 1px solid var(--lightshade);
                border-radius: .5em;
            }
        }
    }
    .btns{
        border-top: 1px solid var(--darkshade);
        display: flex;
        align-items: center;
        justify-content: center;
        padding: .5em 2em 1em;
        gap: 1em;
        font-size: .9em;
        b{
            padding: 0 .5em;
            font-weight: 500;
        }
        button{
            display: flex;
            align-items: center;
            justify-content: center;
            background: none;
            border-radius: .3em;
            border: 1px solid var(--lightshade);
            color: var(--textcolor);
            padding: .1em .5em;
            font-weight: 500;
            cursor: pointer;
            height: 100%;
            font-size: 1.5em;
        }
        button:hover{
            background: var(--accentcolor);
            border-color: var(--accentcolor);
            color: white;
        }
        div{
            gap: .3em;
            display: flex;
            flex-direction: column;
            align-items: center;
            font-size: 1em;
            input{
                padding: .2em .5em;
                background: none;
                border-radius: .3em;
                border: 1px solid var(--lightshade);
                color: var(--textcolor);
                text-align: center;
                width: 5em;
            }
        }
    }
}




